{% extends 'base.html' %}

{% block title %}Форма отправки писем{% endblock %}

{% block link %}<a class="btn btn-primary" href="{%url 'sender_app:email_list'%}">Список писем</a>{% endblock %}

{% block title_h2 %}Отправить письмо на электронную почту:{% endblock %}

{% block content %}
    <form class="m-auto w-50" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success form-control" type="submit" name="btnSendMsg" value="Отправить">
    </form>
{% endblock %}
